@{
    ViewBag.Title = "Home Page";
}
@*<div class="row">
            <div class="col-md-6" style="padding:1px;">
                <textarea class="form-control textarea" id="SourceCode" rows="@ViewBag.Lines" style="min-width: calc(100% - 60px);">@ViewBag.Code</textarea>
            </div>
            <div class="col-md-6" style="padding:1px;">
                <textarea class="form-control textarea" readonly rows="@ViewBag.Lines" style="min-width: calc(100% - 60px); cursor: text;">@ViewBag.InstrumentedCode</textarea>
            </div>
        </div>
    <hr />*@
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title text-center"><i class="glyphicon glyphicon-align-left"></i> &nbsp; Source Code</h3>
                </div>
                <div class="box-body">
                    <textarea class="form-control textarea" id="SourceCode" name="SourceCode" rows="@ViewBag.Line" style="min-width: calc(100% - 60px);">@ViewBag.Code</textarea>
                </div><!-- /.box-body-->
                <div class="box-footer text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> Process</button>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
}
@if (ViewBag.Parse != null)
{
    if (ViewBag.Parse == "true")
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title text-center"><i class="glyphicon glyphicon-align-left"></i> &nbsp; Instrumented Source Code</h3>
                    </div>
                    <div class="box-body">
                        <textarea class="form-control textarea" readonly rows="@ViewBag.LineResult" style="min-width: calc(100% - 60px); cursor: text;">@ViewBag.InstrumentedCode</textarea>
                    </div><!-- /.box-body-->
                </div><!-- /.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title text-center"><i class="glyphicon glyphicon-picture"></i> &nbsp; Control Flow Graph</h3>
                    </div>
                    <div class="box-body">
                        <center>
                            <img src="@ViewBag.CFG" style="border:1px solid white; max-width:100%" />
                        </center>
                    </div><!-- /.box-body-->
                </div><!-- /.box -->
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title"><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Information</h3>
                            </div>
                            <div class="box-body">
                                <pre style="font-size:70%;">@Html.Raw(ViewBag.InformationCFG)</pre>
                            </div><!-- /.box-body-->
                        </div><!-- /.box -->
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-md-12">
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title"><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Information</h3>
                            </div>
                            <div class="box-body">
                                <pre style="font-size:80%;">@Html.Raw(ViewBag.Dot)</pre>
                            </div><!-- /.box-body-->
                        </div><!-- /.box -->
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title"><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Cyclomatic Complexity</h3>
                            </div>
                            <div class="box-body">
                                Nodes(N) = @ViewBag.NodesCount<br/>
                                Edges(E) = @ViewBag.EdgesCount<br/>
                                V(G) = E - N + 2<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;= @(ViewBag.EdgesCount - ViewBag.NodesCount + 2)
                            </div><!-- /.box-body-->
                        </div><!-- /.box -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-danger">
                            <div class="box-header">
                                <h3 class="box-title"><i class="glyphicon glyphicon-list"></i> &nbsp;  Path</h3>
                            </div>
                            <div class="box-body">
                                <ul>
                                    @foreach (string item in ViewBag.ListOfPath)
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            </div><!-- /.box-body-->
                        </div><!-- /.box -->
                    </div>
                </div>



                @*<div class="row">
                    <div class="col-md-12">
                        <div class="box box-danger">
                            <div class="box-header">
                                <h3 class="box-title"><i class="glyphicon glyphicon-list"></i> &nbsp;  Path</h3>
                            </div>
                            <div class="box-body">
                                <ul>
                                    @foreach (string item in ViewBag.AdjacencyList)
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            </div><!-- /.box-body-->
                        </div><!-- /.box -->
                    </div>
                </div>*@
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <p>@Html.Raw(ViewBag.Parse)</p>
        </div>
    }
}
<script>
    $(function () {
        // Target a single one
        $(".textarea").linedtextarea();

    });
</script>
